@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@100;300;400;700&display=swap');
.cardContainer{
    display : flex;  
    flex-direction: column;
    justify-content: space-around;
}
.cardImage{
    height: 80%;
    width : auto;
}
img{
    width: 100%;
    height: 100%;
}
h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.productCost{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
}